body{
  background-color: #9caabf;
  text-align: center;
}

form {
  display: in-lineblock;
  font-size: 16px;
}

textarea{
  /*background color*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  font-size: 16px;

  postion: center;
  width: 50%;

}

@media only screen and (max-width: 600px){
   textarea{/*,*/
    background-color: #f8f8f8;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    height: 300px;
    padding: 12px 20px;
    resize: none;
    width: 100%;
  }
}