

#txtContainer {
    border: 1px solid #000000;
    height: 300px;
    margin: auto;
    width: 90%;
}

/* The container */
.checkboxContainer {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    margin-left: 5%;
    margin-top: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
  /* Hide the browser's default checkbox */
.checkboxContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
  /* Create a custom checkbox */
.checkmark {
    border: 1px solid #000000;
    color: #000000;
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eeeeee;
}
  
  /* On mouse-over, add a grey background color */
.checkboxContainer:hover input ~ .checkmark {
    background-color: #cccccc;
}
  
  /* When the checkbox is checked, add a gray background */
.checkboxContainer input:checked ~ .checkmark {
    background-color: #cccccc;
}
  
  /* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
  /* Show the checkmark when checked */
.checkboxContainer input:checked ~ .checkmark:after {
    display: block;
}
  
  /* Style the checkmark/indicator */
.checkboxContainer .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid 000000;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#sigContainer {
    border: 1px solid #000000;
    height: 200px;
    margin: auto;
    width: 800px;
}

input {
    background-color: #eeeeee;
    border: 1px solid #000000;
    position: relative;
    font-family: serif;
}

#save {
    height: 30px;
    margin-left: 65%;
    margin-top: 5px;
    width: 60px;
    position: relative;
    font-size: 22px;
}

#clear {
    margin-left: 20px;
    height: 30px;
    width: 60px;
    position: relative;
    font-size: 22px;
}

/* for signature box and script */
canvas {
    border: 1px solid #000000;
    display: block;
    margin: auto;
}

#canvasimg {
    border: 1px solid #000000;
    display: none;
}

#btn {
    height: 30px;
    margin-left: 65%;
    margin-top: 5px;
    width: 60px;
    position: relative;
    font-size: 22px;
}

#clr {
  margin-left: 20px;
  height: 30px;
  width: 60px;
  position: relative;
  font-size: 22px;
}