@{
    var db = Database.Open("Studio2bDatabaseConnection");
    var selectQueryString = "SELECT * FROM Test ORDER BY Name";
 }
<!DOCTYPE html>
<html>
 <head>
   <title>Pulling Stuff from database</title>
   <style>
       table, th, td {
         border: solid 1px #bbbbbb;
         border-collapse: collapse;
         padding: 2px;
       }
    </style>
 </head>
 <body>
   <h1>Database Contents</h1>
   <table>
       <thead>
           <tr>
               <th>Id</th>
               <th>Name</th>
               <th>Description</th>
               <th>Signature</th>
           </tr>
       </thead>
       <tbody>
           @foreach(var row in db.Query(selectQueryString)){
            <tr>
               <td>@row.UserID</td>
                   <td>@row.Name</td>
                   <td>@row.Description</td>
                   <td>@row.Signature</td>
            </tr>
           }
       </tbody>
   </table>
 </body>
</html>