using System;
using System.Collections.Generic;
using System.Linq;
using System.Web;
using System.Web.UI;
using System.Web.UI.WebControls;
using MessagingToolkit.QRCode.Codec;
using MessagingToolkit.QRCode.Codec.Data;
using System.Drawing;
using System.Drawing.Imaging;

namespace qrCodeTest
{
    public partial class WebForm1 : System.Web.UI.Page
    {
        protected void Page_Load(object sender, EventArgs e)
        {
            QRCodeEncoder encoder = new QRCodeEncoder();

            Bitmap img = encoder.Encode("http://www.yahoo.com");

            img.Save("C:\\Users\\charly\\source\\repos\\qrCodeTest\\qrCodeTest\\img.jpg", ImageFormat.Jpeg);

            QRImage.ImageUrl = "img.jpg";
        }
    }
}

//bottom is html code for web page 
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>PCSynergy</title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <asp:Image runat="server" ID="QRImage" />
        </div>
    </form>
</body>
</html>


// I downloaded these four packages to for it to work 
// messagingtoolkit.qrcode
// qrcoder
// microsoft.codedom.providers.notnetcompilerplatform
// system.drawing.common